/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HEADER */

* {
  font-family: "Montserrat";
  font-weight: 600;
}

.header-container {
  /* padding: 10px; */
  margin-top: 40px;
  display: flex;
  color: white;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}

.user-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 75px;
  /* transform: translate(-20px, 0); */
}

.logo {
  text-decoration: none;
  color: white;
  margin-left: 30px;
}

body {
  overflow-x: hidden;
  width: 100vw;
}
/* LOGIN/SIGNUP FORM*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0px, -50px);
  }
}

.user-form {
  width: 280px;
  border-radius: 10px;
  padding: 24px;
  background-color: white;
  position: absolute;
  top: 30%;
  left: calc(50% - 280px / 2);
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  font-size: small;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

#close-modal {
  position: absolute;
  top: 0;
  left: 0;
  /* padding:5px;
  padding-bottom: 0px; */
  padding-left: 5px;
  padding-right: 5px;
}

.welcome-header {
  padding-top: 20px;
  padding-bottom: 15px;
}

#close-modal:hover {
  border-radius: 15px;
  background-color: lightgray;
  transition: 1s;
  cursor: pointer;
}

.form-elements {
  display: flex;
  flex-direction: column;
}

.form-elements > * {
  padding: 3px;
  width: 230px;
  margin-top: 5px;
  padding-left: 0px;
  font-size: small;
  font-weight: 300;
}

.form-elements > input {
  border: 1px solid lightgrey;
}

.form-button {
  margin-top: 10px;
  background-color: rgb(222, 20, 98);
  border-radius: 5px;
  width: 235px;
  height: 30px;
  color: white;
  border: none;
  font-weight: 600;
}

.form-button:hover {
  cursor: pointer;
}

.menu {
  position: absolute;
  display: none;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  background: white;
  color: rgb(89, 89, 89);
  top: 85px;
  right: 70px;
  z-index: 10;
}

.menu > * {
  font-size: small;
  padding: 7px 50px 7px 0;
}

.menu > *:hover {
  background-color: whitesmoke;
}

.menu-button {
  display: flex;
  align-items: center;
  /* justify-content:space-evenly; */
  margin-left: 50px;
  width: 70px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
}

.menu-button:hover {
  cursor: pointer;
}

.hamburger {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url("https://img.icons8.com/material-outlined/24/000000/menu--v1.png");
  background-repeat: no-repeat;
}

.profile-pic {
  border: 1px solid white;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  /* background-image: url("./user.png");
  background-repeat: no-repeat; */
}

.session-errors > * {
  font-weight: 300;
  color: red;
  font-size: small;
}

/* MODAL */

@keyframes backgroundFade {
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  z-index: 10;
  animation-name: backgroundFade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.menu-element-button:hover,
.div-link:hover {
  cursor: pointer;
}

.div-link {
  text-align: center;
}

.entry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://a0.muscache.com/im/pictures/57b9f708-bb12-498c-bc33-769f8fc43e63.jpg?im_w=2560);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.link {
  text-decoration: none;
  color: white;
}

.menu > .link {
  text-decoration: none;
  color: rgb(89, 89, 89);
}

/* BECOME A HOST PAGE */
.listing-form-container {
  display: flex;
  overflow-y: scroll;
}

.form-graphics {
  background-color: black;
  width: 50%;
  height: 100%;
  position: fixed;
}

.listing-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 65%;
  top: 5%;
  padding-bottom: 50px;
}

.form-side-container {
  display: flex;
  align-items: center;
  margin: auto;
}

.form-graphics > .link {
  position: fixed;
  padding: 10px;
}

.graphics-text {
  position: absolute;
  color: white;
  left: 22.5%;
  top: 45%;
  font-size: 40px;
  width: 270px;
  text-align: center;
}

.listing-form > * {
  padding: 3px;
  width: 230px;
  margin-top: 5px;
  padding-left: 0px;
  font-size: small;
  font-weight: 300;
}

.listing-form > img {
  width: min-content;
}

.listing-form > .form-button {
  font-weight: 600;
  width: 235px;
}

.map-container {
  position: fixed;
  left:45%;
  width:55%;
}

.map {
  height: 100vh;
}

/* POP UP */

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translate(0px, -50px);
  }
  100% {
    opacity: 1;
  }
}

.form-popup {
  z-index: 20;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  top: 15px;
  left: 52%;
  width: 45%;
  height: 25px;
  border: 1px solid rgb(183, 235, 143);
  background-color: rgb(246, 255, 237);
  padding: 8px;
  font-weight: 300;
  animation-name: fadeDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.demo-login-div {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 5px;
  width: 234px;
  color: rgb(222, 20, 98);
  border: none;
  font-weight: 600;
  padding: 7px 0;
}

.demo-login-div:hover {
  cursor: pointer;
  text-decoration: underline;
}

.become-a-host:hover{
  cursor: pointer;
}
