/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HEADER */

* {
  font-family: "Montserrat";
  font-weight: 600;
}

.header-container {
  display: flex;
  color: white;
  width: 100vw;
  /* justify-content: space-between; */
}

.user-container {
  display: flex;
  justify-content: flex-end;
  width: 33.33%; 
  transform: translate(-20px,0);
}

.logo {
  width: 33.33%;
}

.nav {
  width: 33.33%;
  display: flex;
  justify-content: center;
}

body {
  width: 100vw;
}
/* LOGIN/SIGNUP FORM*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0px, -50px);
  }
}

.user-form {
  width: 275px;
  border-radius: 10px;
  padding: 24px;
  background-color: white;
  position: absolute;
  top: 40%;
  left: calc(50% - 275px / 2);
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  font-size: small;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

#close-modal {
  position: absolute;
  top: 0;
  left: 0;
}

.welcome-header {
  padding-top: 20px;
  padding-bottom: 15px;
}

#close-modal:hover {
  border-radius: 15px;
  background-color: lightgray;
  transition: 1s;
  cursor: pointer;
}

.form-elements {
  display: flex;
  flex-direction: column;
}

.form-elements > * {
  padding: 3px;
  width: 230px;
  margin-top: 5px;
  padding-left: 0px;
  font-size: small;
  font-weight: 300;
}

.form-elements > input {
  border: 1px solid lightgrey;
}

.form-button {
  margin-top: 10px;
  background-color: rgb(222, 20, 98);
  border-radius: 5px;
  width: 235px;
  height: 30px;
  color: white;
  border: none;
}

.form-button:hover {
  cursor: pointer;
}

.user-dropdown {
  width: 75px;
  height: 40px;
  /* padding-left: 20px; */
}

.greetings {
  display: flex;
  flex-direction: column;
}

/* MODAL */

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  transition: 1s;
}

.greetings-button:hover {
  cursor: pointer;
}

.entry-container {
  background-image: url(https://a0.muscache.com/im/pictures/e4a2a61c-589f-4e49-b3b8-968a6bc23389.jpg?im_w=2560);
  height: 600px;
  background-size: cover;
}
