.reviews-component{
    border-top: 1px solid lightgray;
    padding-top: 50px;
    padding-bottom: 25px;
}

.reviews-header{
    font-size: larger;
    font-family: "Montserrat";
    font-weight: 600;
}

.write-review{
    border-top: 1px solid lightgray;
    padding-top: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.write-review-subheader{
    font-weight: 400;
    margin: 15px 0;
}

.review-form{
    margin-top: 15px;
    display:flex;
    flex-direction: column;
}

.reviews-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.review-text{
    padding: 10px;
    font-weight: 400;
    height: 100px;
    font-size: 15px;
}

.review-user-pic{
    border-radius: 50px;
}

.review-user{
    margin:auto 0;
    margin-left: 15px;
}

.review-date {
    font-weight: 300;
    margin-top: 10px;
    font-size: 14px;
}
.review-user-container{
    display:flex;
    padding: 10px 0;
}

.review-container{
    width: 47.5%;
    margin-right: 2.5%;
    padding: 10px 0;
}

.review-content{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
}